
name: Publish to TestPyPI

on:
  push:
    branches:
      - 'dev'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Publish package to TestPyPI
        env:
          TWINE_USERNAME: ${{ secrets.TESTPIPY_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TETPYPI_API_TOKEN }}
        run : twine upload --repository testpypi dist/*
